/* app.css  */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./styling/themes/theme-th.css";
@import "./styling/themes/theme-ck.css";

html, body {
    height: 100%;
    overflow: hidden;
    accent-color: #080;
}

img {
    max-width: 100%;
}